.directory
*.gch
*.o
*.a
*.cbor

manuvr
tests/bptest
tests/dstest
tests/gpstest
tests/identtest
tests/schedtest
lib/FreeRTOS_Arduino/
lib/avro/
lib/config.h
lib/iotivity/
lib/jansson/
lib/mbedtls/
lib/paho.mqtt.embedded-c/
lib/telehash-c/
lib/tinycbor/
