.directory
*.gch
*.o
*.a
*.cbor
*.map

# Example binaries
manuvr
atecc-tool
barebones

# Generated doc
doc/doxygen/

tests/TestDataStructures
tests/IdentityTest
tests/BufferPipeTest
tests/SchedulerTest
tests/CryptoTest

lib/FreeRTOS_Arduino/
lib/avro/
lib/iotivity/
lib/jansson/
lib/mbedtls/
lib/paho.mqtt.embedded-c/
lib/telehash-c/
lib/tinycbor/
